In [21]:
files = sorted(glob("*.csv"))

In [30]:
for filename in files:
    print('.'.join(filename.split('.')[:-1]))
    print()
    df = pd.read_csv(filename, index_col=0)
    m = df.mean(0)
    med = df.median(0)
    s = df.std(0)
    out = pd.concat([m, med, s], axis=1, keys=['Mean', 'Median', 'Std.dev'])
    display(out.T)

GradCplxt_μx0.01_μy0.01_μxy0.001_Lx1.0_Ly1.0_Lxy0.5_ϵ0.0001_dx100_dy100_T1000

,SimGDA,SimGDA+M,AltGDA,AltGDA+M,EG,EG+M,AltEG,AltEG+M,OGD,OGD+M,AltOGD,AltOGD+M,AlexGDA,AlexGDA+M
Mean,42762.1,3824.3,394.9,182.0,291.1,225.9,380.7,228.4,281.1,176.1,182.3,127.7,133.1,58.3
Median,43628.0,3904.0,401.0,172.0,271.0,209.0,345.0,204.0,251.0,161.0,161.5,116.5,122.5,55.0
Std.dev,5071.8,454.7,46.9,43.4,96.9,70.2,157.7,67.9,106.2,52.8,63.6,35.5,54.5,18.1

GradCplxt_μx0.01_μy0.01_μxy0.01_Lx1.0_Ly1.0_Lxy1.0_ϵ0.0001_dx100_dy100_T1000

,SimGDA,SimGDA+M,AltGDA,AltGDA+M,EG,EG+M,AltEG,AltEG+M,OGD,OGD+M,AltOGD,AltOGD+M,AlexGDA,AlexGDA+M
Mean,104220.5,8539.4,567.6,157.2,308.8,223.9,299.9,175.7,280.5,184.9,200.5,117.3,138.8,73.2
Median,106383.5,8724.5,572.0,149.5,247.0,180.0,231.0,151.5,228.0,157.5,168.5,103.5,104.0,63.0
Std.dev,12340.9,1014.7,68.9,73.5,177.3,111.0,173.5,75.2,163.2,92.1,115.7,53.1,80.2,29.2

GradCplxt_μx0.01_μy0.01_μxy0.05_Lx1.0_Ly1.0_Lxy2.0_ϵ0.0001_dx100_dy100_T1000

,SimGDA,SimGDA+M,AltGDA,AltGDA+M,EG,EG+M,AltEG,AltEG+M,OGD,OGD+M,AltOGD,AltOGD+M,AlexGDA,AlexGDA+M
Mean,416822.5,16719.4,777.4,149.0,347.5,253.9,363.6,231.0,337.6,213.3,162.0,108.6,135.4,83.9
Median,425214.5,17080.5,772.0,118.5,270.0,225.0,291.0,189.0,280.5,177.0,144.0,95.5,109.0,72.0
Std.dev,49430.0,1985.0,97.6,74.1,193.2,143.9,191.5,130.9,181.1,124.3,85.1,61.9,77.6,51.0

GradCplxt_μx0.1_μy0.1_μxy0.05_Lx1.0_Ly1.0_Lxy2.0_ϵ1e-08_dx100_dy100_T1000

,SimGDA,SimGDA+M,AltGDA,AltGDA+M,EG,EG+M,AltEG,AltEG+M,OGD,OGD+M,AltOGD,AltOGD+M,AlexGDA,AlexGDA+M
Mean,7865.0,839.8,149.1,105.6,253.2,210.6,278.9,186.9,215.1,177.3,116.1,93.6,100.6,69.1
Median,7951.5,842.5,149.0,98.5,244.0,200.0,271.5,175.5,207.0,166.0,113.5,88.5,99.0,64.0
Std.dev,496.4,53.4,9.4,19.1,50.0,37.3,56.3,32.3,38.9,32.5,19.9,16.2,21.3,13.8

GradCplxt_μx0.1_μy0.1_μxy0.1_Lx1.0_Ly1.0_Lxy1.0_ϵ1e-08_dx100_dy100_T1000

,SimGDA,SimGDA+M,AltGDA,AltGDA+M,EG,EG+M,AltEG,AltEG+M,OGD,OGD+M,AltOGD,AltOGD+M,AlexGDA,AlexGDA+M
Mean,1974.2,421.0,105.9,78.9,133.8,115.6,139.9,102.0,132.8,105.3,90.0,67.6,62.7,44.7
Median,1999.0,421.5,105.5,77.0,131.0,111.0,136.5,96.0,128.5,99.0,88.0,64.0,61.5,44.0
Std.dev,123.3,26.2,6.6,7.4,16.7,16.7,22.9,15.7,16.5,18.5,14.4,10.2,10.4,5.5